/* CSS3 Font Imports
*********************************************************/
@import url(http://fonts.googleapis.com/css?family=Bitter|Felipa);


.color { background-color: #009B95 }
.color-darkoff { background-color: #1D7471 }
.color-dark { background-color: #006561 }
.primary-light { background-color: #33CDC7 }
.primary-lightoff { background-color: #5CCDC9 }
.very-light { background-color: #A1F0EE; }

/* Main
*********************************************************/
html { background: url(Cooking_secrets.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
body { overflow-y: scroll; font-family: 'Bitter', sans-serif; }
h1 { font-family: 'Felipa', cursive; font-size: 2.5em; color: #009B95; margin-bottom: 0.25em; }
input { border: 0.125em solid #009B95; background: #FEFAFD; padding: 0.125em; }
button { background-color: #009B95; border: 0.125em solid #006561; color: #FEFAFD; padding: 0.125em; }
h2 { font-size: 1.75em; font-family: 'Felipa', cursive; color: #009B95; }
a { color: #009B95; }
a:hover, a:focus, a:active { color: #006561; }
textarea { font-family: 'Bitter', sans-serif; border: 0.125em solid #009B95; width: 100%; height: 4em; margin: 0; }

/* Template Specific
*********************************************************/
a#website-title { font-family: 'Felipa', cursive; font-size: 3.75em; color: #1D7471;  font-weight: bold; display: inline; }
a#website-title span.cap { color: #006561; }

div#profile-top { float: right; /* yuck */ background-color: #009B95; border: 0.125em #006561 solid; border-top: none; padding: 0.125em; }
div#profile-top a { color: #FEFAFD; font-weight: bold; }

div#wrapper-top { background-color: #009B95; margin: 0 0 1.5em 0; border: 0.125em #006561 solid; border-left: none; border-right: none; }
div#template-title, header#template-top, div#template-main { margin: 0 auto; width: 56em; }

nav#website-links, nav#website-links ul, nav#website-links ul li { display: inline; }
nav#website-links ul li a { color: #FEFAFD; margin: 0 0.75em; }

div#template-main { background: #FEFAFD; padding: 0.5em 1em; border: 0.125em solid #006561; }

/* Recipe
*********************************************************/
div#recipe-top { min-height: 4em; }
div#recipe-voter { float: left; margin-right: 1em; background-color: #009B95; border: 0.125em solid #006561; color: #FEFAFD; padding: 0.125em;  }
button#recipe-up-vote, button#recipe-down-vote, span#recipe-total { display: block; text-align: center; }
section#recipe-body { width: 100%; }
button#recipe-up-vote, button#recipe-down-vote { border: 0; background: none; cursor: pointer; }
button#recipe-up-vote:hover, button#recipe-up-vote:active, button#recipe-up-vote:focus { color: #A1F0EE; }
button#recipe-down-vote:hover, button#recipe-down-vote:active, button#recipe-down-vote:focus { color: #FF3500; }
.voted-up { color: #A1F0EE; }
.voted-down { color: #FF3500; }
div#recipe-comments h2 { margin: 1em 0 0 0; }
li.recipe-comment { margin: 1.75em 0.25em 0 0; }
li.recipe-comment:first-child { margin-top: 0.5em; }
li.recipe-comment header { background: #009B95; color: #FEFAFD; font-weight: bold; padding: 0.5em; margin: 0 0 0.5em 0;}
li.recipe-comment header a { color: #FEFAFD; }
li.recipe-comment header a:hover, li.recipe-comment header a:active, li.recipe-comment header a:focus { color: #A1F0EE; }
li.recipe-comment header time { color: #A1F0EE; font-weight: normal; float: right; }
section#recipe-new-comment h2 { margin: 2em 0 0.25em 0; }
div#recipe-new-comment-info { background: #009B95; color: #FEFAFD; display: block; margin: 0; padding: 0.25em 0.75em; }
div#recipe-new-comment-info a { color: #A1F0EE; }
div#recipe-new-comment-info a:hover, div#recipe-new-comment-info a:active, div#recipe-new-comment-info a:focus { text-decoration: underline; }
section#recipe-tags { margin: 1em 0 1em 0; }
section#recipe-tags h2 { font-size: 1.25em; color: #006561; font-weight: bold; display: inline; margin: 0 0.25em 0 0; }
section#recipe-tags ul, section#recipe-tags ul li { display: inline; }
section#recipe-tags ul li a { background-color: #009B95; border: 0.125em solid #006561; color: #FEFAFD; padding: 0.125em; }
section#recipe-tags ul li a:hover, section#recipe-tags ul li a:active, section#recipe-tags ul li a:focus { color: #A1F0EE; }
